<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a href="/" class="navbar-brand">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {{#if user}}
          <li class="nav-item">
            <a href="/invite" class="nav-link">Invite</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">Logout</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a href="/login" class="nav-link">Login</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
