<main class="min-vh-100 py-5 d-flex align-items-center justify-content-center">
  <div class="w-100" style="max-width: 330px;">
    <img src="" alt="" class="mb-4" width="72" height="72">
    <h1 class="h3 mb-3 fw-normal">Please log in</h1>

    <form action="/users/authorize" method="post" class="mt-4">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">

      {{message}}

      <div class="mb-3">
        <label for="email-address" class="form-label">Email</label>
        <input type="email" name="email" id="email-address" class="form-control"
          autocomplete="email" autofocus="true" required="true">
      </div>
      <div class="mb-3">
        <label for="current-password" class="form-label">Password</label>
        <input type="password" name="password" id="current-password"
          class="form-control" autocomplete="current-password" required="true">
      </div>

      <div class="form-check mb-4">
        <input type="checkbox" name="remember" id="remember-me"
          class="form-check-input">
        <label for="remember-me" class="form-check-label">
          Remember me
        </label>
      </div>

      <button type="submit" class="btn btn-primary">Get
        started</button>
    </form>
  </div>
</main>
